<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sweet Maria's Data Explorer</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css" />
  <style>
    .center-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>
</head>
<body class="center-screen">
  <div class="py2 overflow-x-auto max-h-full">
    <div class="fixed top-0 bg-base-100 z-10 pt-[16px] px-4">
      <form>
        <label class="form-control w-full">
          <input id="description" name="description" type="text" placeholder="Search by Coffee Description" class="input input-bordered w-full" />
          <div class="label">
            <span class="label-text-alt">Cupping notes and descriptions in the style of Sweet Marias works best</span>
            <span class="label-text-alt">
              <button type="submit" class="btn btn-neutral btn-sm">Go</button>
            </span>
          </div>
        </label>
      </form>
    </div>
    <table class="table table-auto mt-[112px]">
      <thead class="sticky top-[112px] bg-base-100">
        <tr class="">
          <th data-sort="score" class="cursor-pointer">Score</th>
          <th data-sort="url" class="cursor-pointer">URL</th>
          <th data-sort="arrival" class="cursor-pointer">Arrival</th>
          <th data-sort="lot_size" class="cursor-pointer">Lot Size</th>
          <th data-sort="bag_size" class="cursor-pointer">Bag Size</th>
          <th data-sort="packaging" class="cursor-pointer">Packaging</th>
          <th data-sort="cultivar_detail" class="cursor-pointer">Cultivar Details</th>
          <th data-sort="spro_rec" class="cursor-pointer">Spro Rec</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    const tableBody = document.querySelector("tbody");
    const form = document.querySelector('form');
    const formSubmit = document.querySelector('button[type="submit"]');
    const loadingSpan = document.createElement("span");
    loadingSpan.className = "loading loading-spinner";
    const spanClass = "px-[4px]";
    const ascSpan = document.createElement("span");
    ascSpan.innerHTML = "🔼";
    ascSpan.setAttribute("data-direction", "asc");
    ascSpan.className = spanClass;
    const descSpan = document.createElement("span");
    descSpan.innerHTML = "🔽";
    descSpan.setAttribute("data-direction", "desc");
    descSpan.className = spanClass;

    let sort = '';
    document.addEventListener('DOMContentLoaded', (event) => {
      window.scrapes = {{ scrapes | json_encode() | safe  }};
      tableBody.innerHTML = '';
      tableBody.append(...scrapesToTableRows(window.scrapes));

      document.querySelectorAll("th").forEach(th => {
        th.addEventListener("click", (el) => {
          document.querySelectorAll("th[data-sorted]").forEach(th => {
            th.removeAttribute("data-sorted");
          });
          document.querySelectorAll("th span").forEach(span => {
            span.remove();
          });
          sort = th.getAttribute("data-sort") === sort ? `-${sort}` : th.getAttribute("data-sort");
          th.setAttribute("data-sorted", sort);
          const sortColumn = th.getAttribute("data-sort");
          th.append(sort.startsWith('-') ? ascSpan : descSpan);
          direction = sort.startsWith('-') ? -1 : 1;

          window.scrapes.sort((a, b) => {
            if (a[sortColumn] === 'n/a' && b[sortColumn] !== 'n/a') {
              return 1;
            }
            if (a[sortColumn] !== 'n/a' && b[sortColumn] === 'n/a') {
              return -1;
            }
            if (!a[sortColumn] && b[sortColumn]) {
              return 1;
            }
            if (a[sortColumn] && !b[sortColumn]) {
              return -1;
            }
            if (a[sortColumn] < b[sortColumn]) {
              return direction;
            }
            if (a[sortColumn] > b[sortColumn]) {
              return direction * -1;
            }
            return 0;
          });

          tableBody.innerHTML = '';
          tableBody.append(...scrapesToTableRows(window.scrapes));
        });
      });

      form.addEventListener('submit', (event) => {
        formSubmit.innerHTML = '';
        formSubmit.append(loadingSpan.cloneNode(true));
        const selectedRows = tableBody.querySelectorAll("tr.bg-green-200");
        selectedRows.forEach(row => {
          row.className = row.className.replace("bg-green-200", "");
        });
        event.preventDefault();
        const description = form.elements.description.value;
        fetch('/api/green_recs', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ description }),
        })
        .then(response => response.json())
        .then(data => {
          if (data.length === 0) {
            return;
          }
          const firstRow = tableBody.querySelector(`tr[data-id="${data[0].id}"]`);
          firstRow.className = `${firstRow.className} bg-green-200`;
          if (firstRow) {
            // Get the scrollable container
            const scrollContainer = document.querySelector('.overflow-x-auto');
            
            // Calculate the offset of the search UI
            const searchUIHeight = document.querySelector('.sticky').offsetHeight;
            
            // Calculate the position to scroll to
            const rowTop = firstRow.offsetTop;
            const scrollPosition = rowTop - searchUIHeight;
            
            // Scroll the container
            scrollContainer.scrollTop = scrollPosition;
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        })
        .finally(() => {
          formSubmit.innerHTML = 'Go';
        });
      });
      
    });

    const scrapesToTableRows = (scrapes) => {
      return scrapes.map(scrape => {
        const row = document.createElement("tr");
        row.setAttribute("data-id", scrape.id);
        row.innerHTML = `
          <td>${scrape.score}</td>
          <td><a href="${scrape.url}" target="_blank">${scrape.url}</a></td>
          <td>${scrape.arrival}</td>
          <td>${scrape.lot_size}</td>
          <td>${scrape.bag_size}</td>
          <td>${scrape.packaging}</td>
          <td>${scrape.cultivar_detail}</td>
          <td>${scrape.spro_rec}</td>
        `;
        return row;
      });
    };
  </script>
</body>
</html>